// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";
// material themes
// @import "./material/material-dark";
// @import "./material/material-light";

$nb-themes: nb-register-theme(
  (
    color-primary-100: #eff0f9,
    color-primary-200: #e0e2f3,
    color-primary-300: #c2c4db,
    color-primary-400: #222b45,
    color-primary-500: #6f7189,
    color-primary-600: #222b45,
    color-primary-700: #373a62,
    color-primary-800: #23254f,
    color-primary-900: #151741,
    color-primary-transparent-100: rgba(111, 113, 137, 0.08),
    color-primary-transparent-200: rgba(111, 113, 137, 0.16),
    color-primary-transparent-300: rgba(111, 113, 137, 0.24),
    color-primary-transparent-400: rgba(111, 113, 137, 0.32),
    color-primary-transparent-500: rgba(111, 113, 137, 0.4),
    color-primary-transparent-600: rgba(111, 113, 137, 0.48),
    color-success-100: #d1fed6,
    color-success-200: #a4fdb7,
    color-success-300: #76fba0,
    color-success-400: #54f797,
    color-success-500: #27ACAA,
    color-success-600: #15d088,
    color-success-700: #0eae80,
    color-success-800: #098c74,
    color-success-900: #05746a,
    color-success-transparent-100: rgba(29, 242, 139, 0.08),
    color-success-transparent-200: rgba(29, 242, 139, 0.16),
    color-success-transparent-300: rgba(29, 242, 139, 0.24),
    color-success-transparent-400: rgba(29, 242, 139, 0.32),
    color-success-transparent-500: rgba(29, 242, 139, 0.4),
    color-success-transparent-600: rgba(29, 242, 139, 0.48),
    color-info-100: #daf9ff,
    color-info-200: #b6f0ff,
    color-info-300: #91e2ff,
    color-info-400: #76d2ff,
    color-info-500: #49b9ff,
    color-info-600: #3591db,
    color-info-700: #246db7,
    color-info-800: #174d93,
    color-info-900: #0e367a,
    color-info-transparent-100: rgba(73, 185, 255, 0.08),
    color-info-transparent-200: rgba(73, 185, 255, 0.16),
    color-info-transparent-300: rgba(73, 185, 255, 0.24),
    color-info-transparent-400: rgba(73, 185, 255, 0.32),
    color-info-transparent-500: rgba(73, 185, 255, 0.4),
    color-info-transparent-600: rgba(73, 185, 255, 0.48),
    color-warning-100: #fff9d9,
    color-warning-200: #fff2b3,
    color-warning-300: #ffe98d,
    color-warning-400: #ffe071,
    color-warning-500: #ffd242,
    color-warning-600: #dbae30,
    color-warning-700: #b78c21,
    color-warning-800: #936c15,
    color-warning-900: #7a550c,
    color-warning-transparent-100: rgba(255, 210, 66, 0.08),
    color-warning-transparent-200: rgba(255, 210, 66, 0.16),
    color-warning-transparent-300: rgba(255, 210, 66, 0.24),
    color-warning-transparent-400: rgba(255, 210, 66, 0.32),
    color-warning-transparent-500: rgba(255, 210, 66, 0.4),
    color-warning-transparent-600: rgba(255, 210, 66, 0.48),
    color-danger-100: #ffe5d7,
    color-danger-200: #ffc6af,
    color-danger-300: #ff9f87,
    color-danger-400: #ff7a69,
    color-danger-500: #ff3e38,
    color-danger-600: #db2832,
    color-danger-700: #b71c31,
    color-danger-800: #93112f,
    color-danger-900: #7a0a2d,
    color-danger-transparent-100: rgba(255, 62, 56, 0.08),
    color-danger-transparent-200: rgba(255, 62, 56, 0.16),
    color-danger-transparent-300: rgba(255, 62, 56, 0.24),
    color-danger-transparent-400: rgba(255, 62, 56, 0.32),
    color-danger-transparent-500: rgba(255, 62, 56, 0.4),
    color-danger-transparent-600: rgba(255, 62, 56, 0.48),
    // color-basic-800: #9da0b8,
    color-basic-800: #2E2E38,
    color-basic-active: #222b45,
    color-basic-active-border: #222b45,
    color-primary-default: #222b45,
    color-primary-active: #222b45,
    color-primary-active-border: #222b45,
    text-primary-active-color: #222b45,
    color-primary-transparent-active-border: #222b45,
    layout-padding-top: 2.25rem,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 0.9375rem,
    card-header-control-background-color: #212942,
    card-header-basic-background-color: #fff,
    card-header-info-background-color: #212942,
    card-header-text-font-size: 1rem,
    card-header-text-color: #fff,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    badge-primary-background-color: #e8eaf1,
    badge-warning-background-color: #f7c964,
    badge-danger-background-color: #ee798e,
    badge-info-background-color: #5daaf8,
    badge-success-background-color: #6fe1a1,
    input-basic-text-color: #212942,
    input-small-placeholder-text-font-size: 11px,
    input-small-padding: .1875rem .8rem,
    input-small-text-font-size: 12px,
    select-small-placeholder-text-font-size: 11px,
    select-small-text-font-size: 12px,
    select-outline-small-padding: .1875rem .8rem,
    select-outline-basic-text-color: #212942,
    button-filled-basic-disabled-background-color: #EDEFF2,
    button-filled-basic-disabled-text-color: #C1C7D4,
    button-filled-basic-disabled-border-color: #EDEFF2,
    button-filled-basic-background-color:#565675,
    button-filled-basic-active-background-color: #565675,
    button-filled-basic-text-color: #FFFFFF,
    button-filled-basic-hover-background-color: #212942,
    button-filled-basic-focus-background-color: #212942,
    button-filled-success-disabled-background-color: #EDEFF2,
    button-filled-success-disabled-text-color: #C1C7D4,
    button-filled-success-disabled-border-color: #EDEFF2,
    button-filled-success-background-color:#27ACAA,
    button-filled-success-active-background-color: #27ACAA,
    button-filled-success-text-color: #FFFFFF,
    button-filled-success-hover-background-color: #1C9795,
    button-filled-success-focus-background-color: #1C9795,
    button-filled-primary-background-color: #EEF1F6,
    button-filled-primary-text-color: #565675,
    button-filled-primary-focus-background-color: #e1e4e9,
    button-filled-primary-hover-background-color: #e1e4e9,
    button-filled-primary-active-background-color: #e1e4e9,
    button-filled-primary-border-color: #EEF1F6,
    button-filled-primary-hover-border-color: #e1e4e9,
    button-filled-primary-focus-border-color: #e1e4e9,
    button-filled-primary-active-border-color: #e1e4e9,


  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  dark,
  dark
);