.u-font-underlay {
  text-decoration: underline;
}

.u-font-g-medium {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
}

.u-font-m-medium {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
}

.u-font-m-semibold {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}

.u-font-m-bold {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
}


