@font-face {
    font-family: 'PrincingEngine-Bold';
    src: url('/src/assets/fonts/PrincingEngine-Bold.ttf');
}

@font-face {
    font-family: 'PrincingEngine-Italic';
    src: '/src/assets/fonts/PrincingEngine-Bold.ttf';
}

@font-face {
    font-family: 'PrincingEngine-Light';
    src: url('/src/assets/fonts/PrincingEngine-Bold.ttf');
}

@font-face {
    font-family: 'PrincingEngine-Regular';
    src: url('/src/assets/fonts/PrincingEngine-Bold.ttf');
}

@font-face {
    font-family: 'PrincingEngine-SemiBold';
    src: url('/src/assets/fonts/PrincingEngine-Bold.ttf');
}
