$text-clear: #eef1f6;
$text-principal: #212942;
$text-secondary: #919cb1;
$text-altern: #565675;
$azul-principal: #3b6bf6;
$azul-secundario: #3c96f7;
$verde: #5cd393;
$amarillo: #f4ac3d;
$rojo: #ec5073;
$label-principal: #6f7189;
$label-informativo: #939fb6;

$white: #FFFFFF;
$grey: #919cb1;
$dark-grey: #565675;
$blue: #3b6bf6;
$light-blue: #3c96f7;
$green: #5cd393;
$yellow: #f4ac3d;
$red: #ec5073;
$grey-white: #EEF1F6;
$dark-blue: #212942;


$Precotizada:#F5DF6B;
$Pendiente:#F4AC3D;
$Aprobada:#6FE1A1;
$Contratada:#5DAAF8;
$Rechazada:#EE798E;
$Vencida:#6F7189;
$Anulada:#E8EAF1;
$Default:#E8EAF1;

$Font-Color-Precotizada:#FFFFFF;
$Font-Color-Pendiente:#FFFFFF;
$Font-Color-Aprobada:#FFFFFF;
$Font-Color-Contratada:#FFFFFF;
$Font-Color-Rechazada:#FFFFFF;
$Font-Color-Vencida:#FFFFFF;
$Font-Color-Anulada:#212942;
$Font-Color-Default:#E8EAF1;

:root {
  --primary-900: #001f5a;
  --primary-800: #002473;
  --primary-700: #263997;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
